<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
       <section id="signup">
            <br>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control input-md" placeholder="Enter Your Email">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary btn-md" type="button">Contact Us!</button>
                                </span>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <footer>
<!--
            <div class="col-md-6">
                <ul id="footerLinks">
-->
                    <!-- you can adjust the size of these links by changing the fa-#x the values are between 1 and 5 -->
                    <!-- <li><a href="https://www.twitter.com/awsmdt" class="social"><i class="fa fa-twitter fa-2x"></i></a><em>@AwsmDT</em></li><br>
                    <li><a href="https://www.facebook.com/awsmdev" class="social"><i class="fa fa-facebook fa-2x"></i></a><em> @AwsmDev</em></li> -->
<!--
                </ul>
            </div>
-->
            <div id="copyright">
	           <p><i class="fa fa-copyright"></i> Copyright <em><u class="copyrightColor">
	               <a href="http://www.phillstack.com">Phillstack Development</a></u></em> 2016
	           </p>
            </div>
        </footer>
    </div>
</nav>