
<app-header></app-header>
   <body>
        <div id="scrollerBox" data-spy="scroll" data-target="#navbar-scroll">
            <div class="parallax-window" data-parallax="scroll" data-image-src="img/cleanDesk.jpg">
              <div class="cover-text col-xs-12">
                <h1>Mark Phillips</h1>
                <hr>
                <p class="lead">Creative software developer who is passionate about coding and driven to make ideas reality. Whether you're looking to build an app, a website, or all the above, I'm here to help!</p>
              </div>
            </div>
        </div>

        <div id="project">
            <br>
            <section id="project1">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-7">
                            <br><br>
                            <a href="http://www.phillstack.com"><img src="img/phillstack.png"></a>
                            <br>
                        </div>
                        <div class="col-xs-12 col-md-5">
                            <h2>Phillstack Development</h2>
                            <p>I love learning, and came up with the concept of "awesome" development as a way to work on different projects with my close friend and brother. We primarily come from different areas of development, and had been meeting regularly to teach one another what we had learned. We wanted the ability to keep working together in an unconventional way, and as a result, our company was born.<br><br>

                            The mission is to help others, the goal is to keep learning.
                            </p>
                            </div>
                            </div>  
                        </div>

                    <br>
            </section>
            </div>
            <hr>
            <section id="project2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                        <br>
                        <h2>Brian Magazu Contract Project</h2>
                        <p>This project allows users to access a locked page with a given password from the admin. Users are greeted by name when they enter in the correct password, and the information of who is logged in is sent to the admins email. The page was designed to mimic a "MS DOS" style layout, and escapes all special characters so that users can't break into the database.</p>
                        <br>
          </div>
          <div class="col-md-6">
            <br>
            <a href="http://q7b2r39mx.com/"><img src="img/freeDesk.png" id="imgSize2"></a>
          </div>
        </div>
      </div>
    </section>

  <hr>

    <section id="project3">
      <br>
      <div class="container">
        <div class="row">
        <div class="col-md-6">
            <a href="https://github.com/MPhill05/Aggressive-Tamigachi"><img src="img/iPhoneSideView.png" id="imgSize4"></a>
            <br>
          </div>
          <div class="col-md-6">
            <h2>Rock'n Paradise</h2>
            <p>This is a game I developed to somewhat mimic "Tamigachi's" from the 90s. In the game, you need to feed or give love to the rock monster within 3 seconds, or he loses a life. After 3 lives are lost, he dies (it's sad). The game includes wild dinosaur screams when you feed the monster, and a background song that I wrote and produced. I plan on making the game a bit more indepth, and something where he can live a full life, rather than a quick game as it stands now.</p>
            <br>
          </div>
          
        </div>
      </div>
    </section>

    <hr>

    <section id="project4">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <br>
            <h2>Go Fish!</h2>
            <p>I made this project with a team as a final project while attending school at Augsburg College. This project solidified Object Oriented Programming for me, and helped drive home how full life cycle development with waterfall mehtodology operates. Recently, the project has been brought back to life, and I am developing a UI for the card game. Future updates will include additional card games, and converting it to work with Android, iOS, and a web version.</p>
            <br>
          </div>
          <div class="col-md-6">
            <br>
            <a href="https://github.com/MPhill05/goFishJavaProject"><img src="img/macbook-air-frame.png" id="imgSize5"></a>
            <br>
          </div>
        </div>
      </div>
    </section>
    <br>

    <hr>

    <section id="project5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <br>
            <br>
            <a href="http://awsmdev.com/content/twitter/"><img src="img/desktop.png" id="imgSize6"></a>
          </div>
          <div class="col-md-6">  
            <h2>Twitter Clone</h2>
            <p>This project was primarily to help me understand the mechanics of PHP/MySQLi, and how to get a web site to interact with a database. The site allows users to create accounts, login, and interact with other users once logged in. The page will soon be rebranded and will incorporate many other features in the near future. Updates coming soon.</p>
            <br>
            </div>
          </div>
        </div>
    </section>
    <br><br>
    <footer>
      <div class="container" id="contact">
        <div class="row">
          <div class="col-md-6"><img src="img/MarkID.jpg" alt="photo of myself" class="img-circle">
            
            <ul id="footerUL">
              <br>
             you can adjust the size of these links by changing the fa-#x the values are between 1 and 5 
              <a href="https://www.twitter.com/mark87ad" class="social"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="https://www.instagram.com/lolawsm" class="social"><i class="fa fa-instagram fa-2x"></i></a>
              <a href="https://www.github.com/mphill05" class="social"><i class="fa fa-github-alt fa-2x"></i></a>
              <a href="https://www.linkedin.com/in/mphill05" class="social"><i class="fa fa-linkedin fa-2x"></i></a>
              <br>
              <br>
              <a href="resume.pdf"><u>View Resume</u></a>
              <br>
            </ul>
          </div>
          </div>
          </div>
            <div class="container contactMe"></div>
    </footer>
  </body>
